.getCode {
    width: 124px;
    height: 54px;
    border-radius: 30px;
    border: 2px solid #6c4cf2;
    flex: none;
    text-align: center;
    line-height: 54px;
    font-size: 24px;
    color: #6c4cf2;
  }
  
  .disabled {
    background-color: #ccc;
    border: 2px solid #aaa;
    color: #666;
  }
  