.f18 { font-size: 36px; }
.f17 { font-size: 34px; }
.f16 { font-size: 32px; }
.f15 { font-size: 30px; }
.f14 { font-size: 28px; }
.f13 { font-size: 26px; }
.f12 { font-size: 24px; }
.f11 { font-size: 22px; }
.f10 { font-size: 20px; }
.f9 { font-size: 18px; }
.f8 { font-size: 16px; }